<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <img src="../../../../assets/img/registration.png" class="my-4" alt="" width="600px">
    </div>
  </div>

  <div class="col-md-6">
    <h2 class="text-center mt-5">Registration</h2>

    <form class="p-1 mt-5">
      <div class="pb-2 d-block d-md-none">
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>First Name</label>
          <input type="text" class="form-control" placeholder="Fill your first name" />
        </div>
        <div class="form-group col-sm-6">
          <label>Last Name</label>
          <input type="text" class="form-control" placeholder="Fill your last name" />
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" placeholder="fill your email" />
      </div>
      <div class="form-group">
        <label for="">User:</label>
        <input class="form-control" type="text" placeholder="Fill your user name" />
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Password:</label>
          <input class="form-control" type="password" placeholder="Fill your password" />
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirm Password:</label>
          <input class="form-control" type="password" placeholder="Confirm your password" />
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">I agree with <a href="#">use rigths.</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5">
            Register
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            I'm already registered!
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
