<h2>Events</h2>
<hr>

<div action="" class="form-inline">
  <label class="mr-2">Filtro:</label>
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="search" [(ngModel)]="filterList">
  </div>
</div>

<!-- <h4>Filtro: {{filterList}}</h4> -->

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="showImages()">
          <i class="{{ !isToShowImages ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
          {{isToShowImages ? 'Hide Photo' : 'Show Photo'}}
        </button>
      </th>
      <th>#</th>
      <th>Theme</th>
      <th>Place</th>
      <th>Date</th>
      <th>Persons</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of filteredEvents">
      <td>
        <img [collapse]="!isToShowImages" [isAnimated]="true" src="assets/foto3.jpg" [style.width.px]="widthImg"
          [style.margin.px]="marginImg">
      </td>
      <td>{{ event.id }}</td>
      <td>{{ event.theme }}</td>
      <td>{{ event.place }}</td>
      <td>{{ event.eventDate | DateTimeFormatPipe }}</td>
      <td>{{ event.numberOfPerson }}</td>
      <td>{{ event.lotes.length > 0 ? event.lotes[0].name : event.lotes }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash" tooltip="Delete"
            (click)="openModal(template)"></i></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events || events.length == 0">
    <tr>
      <td colspan="8" class="text-center bg-light">
        Nenhum evento encontrado
      </td>
    </tr>
  </tfoot>
</table>
<hr>

{{events | json}}

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm delete?</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete()">Confirm</button>
    <button type="button" class="btn btn-primary" (click)="declineDelete()">Cancel</button>
  </div>
</ng-template>
