<nav class="navbar navbar-expand-lg bg-white shadow-sm p-3">
    <div class="container">
        <a class="navbar-brand" href="/home">
            <img src="../../../assets/img/calendar.png" alt="" width="40px">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="isCollapsed = !isCollapsed"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapseBasic" [collapse]="isCollapsed" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <ng-container *ngIf="!isUserLogouted()">
                    <li class="nav-item" [routerLinkActive]="'active'">
                        <a class="nav-link" aria-current="page" routerLink="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="'active'">
                        <a class="nav-link" aria-current="page" routerLink="events/list">Events</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="'active'">
                        <a class="nav-link" routerLink="speakers">Speakers</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="'active'">
                        <a class="nav-link" routerLink="contacts">Contacts</a>
                    </li>
                </ng-container>
            </ul>

            <div class="navbar-nav mr-3 d-xs-none d-none d-md-block" *ngIf="isUserLogouted()">
                <a class="btn btn-light mr-2 border" style="width: 100px;" routerLink="/user/login">Login</a>
                <a class="btn btn-warning" style="width: 100px;" routerLink="/user/registration">Register</a>
            </div>

            <ul class="navbar-nav" *ngIf="!isUserLogouted()">
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{username}}
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="user/profile">
                            Perfil
                        </a>
                        <div role="separator" class="divider"></div>
                        <a class="dropdown-item" routerLink="/user/login" (click)="logout()">
                            Sair
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>