<div class="row">
  <div class="" [ngClass]="{'col-md-9' : isToUpdate, 'col-md-12': !isToUpdate}">
    <div class="card shadow-sm">
      <form [formGroup]="eventDetailForm">
        <div class="p-3">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': form.theme.errors && form.theme.touched }" formControlName="theme"
                placeholder="Insira o Tema" [(ngModel)]="event.theme">
              <div *ngIf="form.theme.hasError('required')" class="invalid-feedback">
                Theme is mandatory.
              </div>
              <div *ngIf="form.theme.hasError('minlength')" class="invalid-feedback">
                Theme name less than
                4 caracters.</div>
              <div *ngIf="form.theme.hasError('maxlength')" class="invalid-feedback">
                Theme name more tha
                50 caracters.</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': form.place.errors && form.place.touched}" formControlName="place"
                placeholder="" [(ngModel)]="event.place">
              <div class="invalid-feedback">Local is mandatory</div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input type="datetime" class="form-control"
                [ngClass]="{'is-invalid': form.eventDate.errors && form.eventDate.touched}" formControlName="eventDate"
                placeholder="" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="event.eventDate">
              <div class="invalid-feedback">Date is mandatory</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label>Qtd Pessoas</label>
              <input type="number" class="form-control"
                [ngClass]="{'is-invalid': form.numberOfPerson.errors && form.numberOfPerson.touched}"
                formControlName="numberOfPerson" placeholder="" [(ngModel)]="event.numberOfPerson">
              <div class="invalid-feedback">Qtd people is mandatory</div>
            </div>
            <div class="form-group col-md-2">
              <label>Phone</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': form.phone.errors && form.phone.touched}" formControlName="phone"
                placeholder="(000) 90000-0000" [(ngModel)]="event.phone">
              <div class="invalid-feedback">Phone is mandatory</div>
            </div>
            <div class="form-group col-md-4">
              <label>Email</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': form.email.errors && form.email.touched}" formControlName="email"
                placeholder="e-mail" [(ngModel)]="event.email">
              <div class="invalid-feedback">Email is mandatory</div>
            </div>
            <div class="form-group col-md-4">
              <label>Photo</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': form.imageUrl.errors && form.imageUrl.touched}" formControlName="imageUrl"
                placeholder="Image" [(ngModel)]="event.imageUrl">
              <div class="invalid-feedback">Photo is mandatory</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
              Cancelar Alteração
            </button>
            <button class="btn btn-success" (click)="saveEvent()" *ngIf="!isToUpdate">
              <span class="mr-1"></span>
              Salvar Evento
            </button>

            <button class="btn btn-success" (click)="updateEvent()" *ngIf="isToUpdate">
              <span class="mr-1"></span>
              Update Event
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="card shadow-sm mt-3 mb-4" *ngIf="isToUpdate">
      <div class="p-3">
        <div class="d-flex justify-content-between">
          <h3>Event Lotes</h3>
          <i class="fa fa-duotone fa-money-bill"></i>
        </div>

        <hr>
        <p>Click in Lote button to add a new Lote</p>
      </div>

      <form [formGroup]="eventDetailForm">
        <div class="p-3" formArrayName="lotes" *ngFor="let lote of lotes.controls; let i=index">
          <fieldset class="form-group" [formGroupName]="i">
            <legend class="d-flex justify-content-between capitalize">
              <button class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex" tooltip="Excluir Lote"
                [adaptivePosition]="false" placement="left" [delay]="500" (click)="openModal(template, i)">
                <i class="fa fa-window-close my-1"></i>
                <b class="ml-1 d-none d-sm-block">Excluir</b>
              </button>
            </legend>
            <hr>
            <div class="row mt-3">
              <div class="form-group col-md-4">
                <label>Nome</label>
                <input type="text" class="form-control" placeholder="Lote"
                  [ngClass]="{'is-invalid': lotes.get(i+'.name')?.errors && lotes.get(i+'.name')?.touched}"
                  formControlName="name">
                <div class="invalid-feedback">Name is mandatory</div>
              </div>
              <div class="form-group col-md-4">
                <label>Quantidade</label>
                <input type="text" class="form-control" placeholder="000"
                  [ngClass]="{'is-invalid': lotes.get(i+'.quantity')?.errors && lotes.get(i+'.quantity')?.touched}"
                  formControlName="quantity">
                <div class="invalid-feedback">Quantity is mandatory</div>
              </div>
              <div class="form-group col-md-4">
                <label>Preço</label>
                <input type="text" class="form-control" placeholder="R$ 0,00"
                  [ngClass]="{'is-invalid': lotes.get(i+'.price')?.errors && lotes.get(i+'.price')?.touched}"
                  formControlName="price" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                <div class="invalid-feedback">Price is mandatory</div>
              </div>
              <div class="form-group col-md-4">
                <label>Data Início</label>
                <input type="text" class="form-control" placeholder="01/01/2021"
                  [ngClass]="{'is-invalid': lotes.get(i+'.startDate')?.errors && lotes.get(i+'.startDate')?.touched}"
                  formControlName="startDate">
                <div class="invalid-feedback">Start Date is mandatory</div>
              </div>
              <div class="form-group col-md-4">
                <label>Data Fim</label>
                <input type="text" class="form-control" placeholder="01/01/2021"
                  [ngClass]="{'is-invalid': lotes.get(i+'.endDate')?.errors && lotes.get(i+'.endDate')?.touched}"
                  formControlName="endDate">
                <div class="invalid-feedback">End Date is mandatory</div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="p-3">
          <button class="d-flex btn btn-outline-primary" (click)="addLote()">
            <i class="fa fa-plus-circle my-1"></i>
            <b class="ml-1">Lote</b>
          </button>
        </div>

        <div class="card-footer">
          <div class="d-flex">
            <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
              Cancelar Alteração
            </button>
            <button class="btn btn-success" (click)="saveLote()">
              <span class="mr-1"></span>
              Save Lotes
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="col-md-3 pl-0" *ngIf="isToUpdate">
    <div [formGroup]="form" class="card-evento-view shadow-sm">
      <div class="form-row">
        <div class="form-group m-0">
          <input type="file" #file (change)="onFileChange($event)" class="form-control is-invalid" placeholder=""
            style="display: none">
        </div>
      </div>
      <div class="card profile-card-2">
        <div class="card-img-block">
          <img class="image" [src]="imageURL" class="img-fluid" (click)="file.click()" alt="Card image cap"
            tooltip="Uplaod de Nova Imagem" [adaptivePosition]="false" placement="bottom" />
        </div>
        <div class="card-body pt-3">
          <h4>{{event.theme}}</h4>
          <p class="card-text">
            <b>Local:</b> {{event.place}}
            <br>
            <b>Data:</b> {{event.eventDate }}
          </p>
          <hr>
          <p class="card-text">
            <b>Contatos</b><br>
            <small class="text-muted">Telefone: {{event.phone}}</small>
            <br>
            <small class="text-muted">e-mail: {{event.email}}</small>
          </p>
          <p class="card-text">
            Capacidade:
            <small class="text-muted">{{event.numberOfPerson}}</small>
          </p>
          <div class="row">
            <div class="icon-block col-md-8 iconesSociais">
              <a href="">
                <i class=""></i>
              </a>
            </div>
            <!--div class="col-md-4 d-flex justify-content-center">
              <a href="#" class="btn btn-outline-primary">Participar</a>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Delete Lote "{{loteAtual.name}}"? </p>
    <button type="button" class="btn btn-default" (click)="confirmLoteDelete()">Confirm</button>
    <button type="button" class="btn btn-primary" (click)="declineLoteDelete()">Cancel</button>
  </div>
</ng-template>
